@model CheckOver.Models.ViewModels.CheckTheExerciseVM
@{
    ViewData["Title"] = "CheckTheExercise";
}

<section id="oddawanie_zadania">
    <div class="wrapper">
        <header>
            <div class="tytul">
                <h3>@Model.Solving.Exercise.Title</h3>
            </div>
            <div class="informacje">
                <h3>@Model.Solving.Assignment.Group.Name</h3>
                <h4><pre>@Model.Solving.Exercise.Description</pre></h4>
                <ul>
                    <li>
                        <h4>Termin oddania zadania:</h4>
                    </li>
                    <li>
                        <h3>@Model.Solving.CreatedAt</h3>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>Osoba oddająca:</h4>
                    </li>
                    <li>
                        <h3>@Model.Solving.Assignment.User.FirstName @Model.Solving.Assignment.User.LastName</h3>
                    </li>
                </ul>
                <ul>
                    <label for="Checking_Points">Maksymalna liczba punktów</label>
                    <input type="text" disabled data-val="true"
                           data-val-required="The Punkty field is required." id="Checking_Points"
                           name="Checking.Points" value="@Model.Solving.Exercise.MaxPoints" />
                </ul>
            </div>
        </header>
        <main class="page-body">
            <div class="container">
                <div class="homework">

                    <h2>Oddane zadanie</h2>

                    <textarea asp-for="@Model.Solving.Answer" disabled>
        </textarea>
                </div>
                <div class="checked">
                    <form asp-action="CheckTheExercise" method="post">
                        <label asp-for="Points">Liczba przyznanych punkt&#xF3;w</label>
                        <input asp-for="Points" type="text" data-val="true" id="Points" name="Points" value="0" />
                        <h2>Uwagi</h2>
                        <div class="container_textarea">
                            <textarea asp-for="@Model.Remarks" name="Remarks">
                            </textarea>
                        </div>
                        <span class="field-validation-valid field-validation-valid" data-valmsg-for="Remarks" data-valmsg-replace="true"></span>

                        <div class="container-btn">
                            <input type="submit" class="margin-top-btn" value="Oceń" />
                        </div>
                    </form>
                </div>
            </div>
            @if (Model.Solving.Configuration == true && Model.Solving.AutomaticCheckerOutcome != null)
            {
                <h2 style="color:white;">Wynik automatycznego sprawdzania</h2>

                <textarea asp-for="@Model.Solving.AutomaticCheckerOutcome" disabled></textarea>
            }
        </main>
    </div>
</section>