@model CheckOver.Models.ViewModels.SolvingsVM
@{
    ViewData["Title"] = "Zadania";
}

<section id="lista">

    <div class="wrapper">
        <header>
            <div class="tytul">
                <h3>Zadania</h3>
            </div><div class="container-btn-left">
                <a asp-controller="Exercise" asp-action="AddExercise" class="btn btn-primary">DODAJ ZADANIE</a>
                <a asp-controller="Exercise" asp-action="ShowCreatedExercises" class="btn btn-primary">UTWORZONE ZADANIA</a>
            </div>
        </header>
        <main class="page-body">

            <h2>Do zrobienia</h2>
            <div class="aktywne">
                @foreach (var item in Model.ToSolve)
                {
                    <div class="item">
                        <a asp-controller="Exercise" asp-action="SolveTheExercise" asp-route-SolvingId="@item.SolvingId">
                            <ul>
                                <li>
                                    <p class="first">@item.Assignment.Group.Name</p>
                                </li>
                                <li>
                                    <p>@item.Exercise.Title</p>
                                </li>
                                <li>
                                    <p>@item.DeadLine</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                }
            </div>

            <h2>Do sprawdzenia</h2>
            <div class="aktywne">
                @foreach (var item in Model.ToCheck)
                {
                    <div class="item">
                        <a asp-controller="Exercise" asp-action="CheckTheExercise" asp-route-SolvingId="@item.SolvingId">
                            <ul>
                                <li>
                                    <p class="first">@item.Assignment.Group.Name</p>
                                </li>
                                <li>
                                    <p>@item.Exercise.Title</p>
                                </li>
                                <li>
                                    <p>@item.DeadLine</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                }
            </div>
            <h2>Ocenione</h2>
            <div class="aktywne">
                @foreach (var item in Model.Checked)
                {
                    <div class="item">
                        <a asp-controller="Exercise" asp-action="ShowCheckedExercise" asp-route-SolvingId="@item.SolvingId">
                            <ul>
                                <li>
                                    <p class="first">@item.Assignment.Group.Name</p>
                                </li>
                                <li>
                                    <p>@item.Exercise.Title</p>
                                </li>
                                <li>
                                    <p>@item.Checking.Points / @item.Exercise.MaxPoints</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                }
            </div>
            <h2>Sprawdzone przez Ciebie</h2>
            <div class="aktywne">
                @foreach (var item in Model.CheckedByUser)
                {
                    <div class="item">
                        <a asp-controller="Exercise" asp-action="ShowCheckedExercise" asp-route-SolvingId="@item.SolvingId">
                            <ul>
                                <li>
                                    <p class="first">@item.Assignment.Group.Name</p>
                                </li>
                                <li>
                                    <p>@item.Exercise.Title</p>
                                </li>
                                <li>
                                    <p>@item.Checking.Points / @item.Exercise.MaxPoints</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                }
            </div>
        </main>
    </div>
</section>