@model IEnumerable<Solving>
@{
    ViewData["Title"] = "ShowExercisesToCheck";
}

<div class="row p-4">
    @foreach (var item in Model)
    {
        TimeSpan span = item.SentAt - item.DeadLine;
        <div class="col-6 mb-5">
            <div class="card text-center">
                <div class="card-header">
                    <div class="row">
                        <h6 class="col-4">Status: @item.Status</h6>
                        <h5 class="col-4">@item.Assignment.Group.Name</h5>
                        <h6 class="col-4">Wysłane: @String.Format("{0} dni i {1} godzin", Math.Abs(span.Days), Math.Abs(span.Hours)) @(span>TimeSpan.Zero ? "po czasie" : "przed czasem")</h6>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Assignment.User.FirstName @item.Assignment.User.LastName - @item.Exercise.Title</h5>
                    <p>@item.Exercise.Description.Substring(0, Math.Min(item.Exercise.Description.Length, 300))</p>
                    @if (item.Status == "Sprawdzone")
                    {
                        <a asp-controller="Exercise" asp-action="CheckTheExercise" asp-route-SolvingId="@item.SolvingId" class="btn btn-primary mt-2">Obejrzyj</a>
                    }
                    else if (item.Status != "Do sprawdzenia")
                    {
                        <a class="btn disabled btn-primary mt-2">Sprawdź</a>
                    }
                    else
                    {
                        <a asp-controller="Exercise" asp-action="CheckTheExercise" asp-route-SolvingId="@item.SolvingId" class="btn btn-primary mt-2">Sprawdź</a>
                    }
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-6">
                            <p>
                                @("Wysłano: " + item.SentAt)
                            </p>
                        </div>
                        <div class="col-6">
                            <p>
                                DeadLine: @(item.DeadLine)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>