@model Solving
@{
    ViewData["Title"] = "CheckTheExercise";
}

<section id="oddawanie_zadania">
    <div class="wrapper">
        <header>
            <div class="tytul">
                <h3>@Model.Exercise.Title</h3>
            </div>
            <div class="informacje">
                <h2>@Model.Assignment.Group.Name</h2>
                <h4>@Model.Exercise.Description</h4>
                <ul>
                    <li>
                        <h4>Termin oddania zadania:</h4>
                    </li>
                    <li>
                        <h3>@Model.CreatedAt</h3>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>Termin sprawdzanie zadania:</h4>
                    </li>
                    <li>
                        <h3>@Model.Checking.CreatedAt</h3>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>Osoba sprawdzajaca:</h4>
                    </li>
                    <li>
                        <h3>@Model.Checking.Checker.FirstName @Model.Checking.Checker.LastName</h3>
                    </li>
                </ul>
                <ul>
                    <label asp-for="@Model.Checking.Points">Otrzymane punkty</label>
                    <input asp-for="@Model.Checking.Points" type="text" disabled data-val="true"
                           data-val-required="The Punkty field is required." id="Checking_Points"
                           name="Checking.Points" />
                </ul>
            </div>
        </header>
        <main class="page-body">
            <div class="container ">

                <div class="homework">
                    <h2>Oddane zadanie</h2>

                    <textarea disabled>
                         @Model.Answer
                        </textarea>
                </div>
                <div class="checked">
                    <h2>Uwagi</h2>
                    <textarea disabled>
                        @Model.Checking.Remarks
                       </textarea>
                </div>
            </div>
            <div class="container-btn">
                <a asp-controller="Exercise" asp-action="Index" class="btn btn-primary">Wróć</a>
            </div>
        </main>
    </div>
</section>