@model IEnumerable<Solving>
@{
    ViewData["Title"] = "ShowAssignedExercises";
}

<div class="row p-4">
    @foreach (var item in Model)
    {
        TimeSpan span = item.Exercise.DeadLine - DateTime.Now;
        <div class="col-6 mb-5">
            <div class="card text-center">
                <div class="card-header">
                    <div class="row">
                        <h6 class="col-4 float-left pl-2">
                            Status: @item.Status
                        </h6>
                        <h5 class="col-4">@item.Assignment.Group.Name</h5>
                        <h6 class="col-4">Zostało jeszcze: @String.Format("{0} dni i {1} godzin", span.Days, span.Hours)</h6>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Exercise.Title</h5>
                    <p>@item.Exercise.Description.Substring(0, Math.Min(item.Exercise.Description.Length, 300))</p>
                    @if (item.Status == "Sprawdzone")
                    {
                        <a asp-controller="Exercise" asp-action="ShowCheckedExercise" asp-route-SolvingId="@item.SolvingId" class="btn btn-primary mt-2">Obejrzyj</a>
                    }
                    else if (item.Status != "Do wykonania")
                    {
                        <a class="btn disabled btn-primary mt-2">Rozwiąż</a>
                    }
                    else
                    {
                        <a asp-controller="Exercise" asp-action="SolveTheExercise" asp-route-SolvingId="@item.SolvingId" class="btn btn-primary mt-2">Rozwiąż</a>
                    }
                </div>
                <div class="card-footer text-muted">
                    <p>
                        Utworzono: @item.Exercise.CreatedAt &nbsp;&nbsp;&nbsp;
                        @(item.Status=="Wysłane" ? "Wysłano: " + item.CreatedAt : "" )
                    </p>
                </div>
            </div>
        </div>
    }
</div>