@model IEnumerable<Exercise>

<section id="lista_utworzonych">
    <div class="wrapper">
        <header>

            <div class="tytul">
                <h3>Twoje zadania</h3>
            </div>
        </header>
        <main class="page-body">
            <div class="utworzone">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <ul>
                            <li>
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            </li>
                        </ul>
                        <div class="container-btn">
                            <a asp-controller="Exercise" asp-action="AssignExercise" asp-route-ExerciseId="@item.ExerciseId" class="btn btn-primary">Przydziel</a>
                            <a asp-controller="Exercise" asp-action="UpdateExercise" asp-route-ExerciseId="@item.ExerciseId" class="btn btn-primary"> Edytuj </a>
                            <a asp-controller="Exercise" asp-action="ConfigureExercise" asp-route-ExerciseId="@item.ExerciseId" class="btn btn-primary"> Konfiguruj </a>
                            <a asp-controller="Exercise" asp-action="DeleteExercise" asp-route-ExerciseId="@item.ExerciseId" class="btn btn-primary"> Usuń </a>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</section>