@model Invitation
<td>@Model.Sender.FirstName @Model.Sender.LastName</td>
<td>@Model.Group.Creator.FirstName @Model.Group.Creator.LastName</td>
<td>@Model.Group.Name</td>
<td>@Model.Role.Name</td>
<td>@Model.Status</td>
<td>@Model.CreatedAt</td>
<td>
    @if (Model.Status == "Oczekujące")
    {
        <div class="btn-group">
            <a asp-controller="Invitation" asp-action="AcceptInvitation" asp-route-id="@Model.InvitationId" class="btn btn-primary mr-4">Zaakceptuj</a>
            <a asp-controller="Invitation" asp-action="RejectInvitation" asp-route-id="@Model.InvitationId" class="btn btn-primary">Odrzuć</a>
        </div>
    }
    else
    {
        <span>-</span>
    }
</td>