@model Invitation
<td>@Model.Receiver.FirstName @Model.Receiver.LastName</td>
<td>@Model.Group.Name</td>
<td>@Model.Role.Name</td>
<td>@Model.Status</td>
<td>@Model.CreationDate</td>
<td>
    @if (Model.Status == "Oczekujące")
    {
        <a class="btn btn-primary mr-4">Anuluj</a>
    }
    else
    {
        <span>-</span>
    }
</td>