@{
    ViewData["Title"] = "Grupa/" + Model.Group.Name;
}
@model CheckOver.Models.ViewModels.GetGroupVM

<div class="row mt-2 p-4">
    <div class="col-3">
        <div class="card">
            <h5 class="card-header"><b>@Model.Group.Name</b></h5>
            <div class="card-body">
                <img class="img-fluid mb-3" src="https://checkoverblob.blob.core.windows.net/checkoverblob/@Model.Group.CoverImageUrl" alt="Card image cap">
                <div class="btn-group" role="group">
                    <a asp-controller="Group" asp-action="GroupSettings" asp-route-id="@Model.Group.GroupId" class="btn btn-primary">Ustawienia</a>
                    <a asp-controller="Invitation" asp-action="AddNewInvitation" asp-route-GroupId="@Model.Group.GroupId" class="btn btn-primary">Zaproś użytkownika</a>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive col-9">
        <table class="table table-bordered">
            <caption>Członkowie</caption>
            <thead class="thead-dark">
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Adres e-mail</th>
                    <th>Data przyłączenia</th>
                    <th>Rola</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Assignments)
                {
                <tr>
                    <td>@item.User.FirstName @item.User.LastName</td>
                    <td>@item.User.Email</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.Role.Name</td>
                    <td><a href="#" class="btn btn-primary">Wyrzuć z grupy</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>